body{
background: rgb(38, 38, 202);
font: normal 15pt Arial ;
}

head{
    color: white;
    text-align: center;

}

section{
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(253, 253, 253, 0.13);

}

footer{
color: white;
text-align: center;
font-style: italic;
}
